* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cfcfcf;
}

#testimonial-grid-container {
    padding: 2%;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #ecf2f8;
}

#testimonial-2 {
    background-color: #48556a;
    color: #ecf2f8;
    
}

#testimonial-3 {
    background-color: #ecf2f8;
    
}

#testimonial-4 {
    background-color: #19212e;
    color: #ecf2f8;
}

#testimonial-5 {
    background-color: #ecf2f8;
    
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
}

@media (min-width: 576px) {
    #testimonial-grid-container {
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #testimonial-5 {
        flex-basis: 30%;
    }

    #main-left {
        display: flex;
        flex-direction: column;
        flex-basis: 68%;
    }

    #top {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
    }

    #bottom {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
    }

    #testimonial-1 {
        flex-basis: 63%;
    }
    
    #testimonial-2 {
        flex-basis: 35%;
        
        
    }
    
    #testimonial-3 {
        flex-basis: 35%;
    }
    
    #testimonial-4 {
        flex-basis: 63%;
    }

}